{
    "printWidth": 200,
    "proseWrap": "never",
    "semi": true,
    "singleQuote": true,
    "bracketSpacing": true,
    "trailingComma": "all",
    "tabWidth": 4,
    "arrowParens": "avoid",
    "endOfLine": "lf"
}
